@import '@styles/mixin';

.button {
  padding: 1.4rem 0;
  box-sizing: border-box;
  text-align: center;
  font-size: 1.6rem;
  transition: all 0.3s;

  @include mobile {
    padding: 1rem 0;
    font-size: 1.4rem;
  }
}
.round {
  border-radius: 10rem;
}

.curve {
  border-radius: 0.6rem;
}

.fill {
  background-color: var(--color-primary);
  color: var(--color-white);
}
.line {
  background-color: var(--color-white);
  border: 0.1rem solid var(--color-primary);
  color: var(--color-primary);
}

.xs {
  padding: 0.6rem 1.6rem;
}

.sm {
  padding: 1rem 2rem;
}

.md {
  padding: 1.2rem 8rem;

  @include mobile {
    padding: 1rem 4rem;
  }
}

.lg {
  width: 100%;
}

:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

.loading {
  opacity: 0.5;
  position: relative;

  &::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 1.6rem;
    height: 1.6rem;
    border: 0.3rem solid var(--color-white);
    border-top-color: var(--color-primary);
    border-radius: 50%;
    animation: spin 1s linear infinite;
  }
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
// @keyframes spin {
//   to {
//     transform: rotate(360deg);
//   }
// }
