.spinner {
  display: inline-block;
  animation: spin 1s linear infinite;
  border: 0.2rem solid var(--color-primary);
  border-top-color: var(--color-white);
  border-radius: 50%;
}

.xs {
  height: 2rem;
  width: 2rem;
}

.sm {
  height: 2.4rem;
  width: 2.4rem;
}

.md {
  height: 3rem;
  width: 3rem;
}

.lg {
  height: 4rem;
  width: 4rem;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
